<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.user.UserMapper">
    <insert id="insUser">
        INSERT INTO t_user
        set uid = #{uid},
        upw = #{upw},
        nm = #{nm},
        pic = #{pic}
    </insert>

    <!--<insert id="insUser">
        INSERT INTO t_user
        set uid = #{uid},
        upw = #{upw},
        nm = #{nm},
        pic = #{pic}
        <if test = "pic != null and pic != '' ">
            , pic = #{pic}
        </if>
    </insert>
    중복된 코드를 한번 더 작성해야 할 때 사용하면 좋다
    if태그-->

    <select id="selUserByIdList">
        SELECT uid, upw
        FROM t_user
    </select>

    <select id="selUserById">
        SELECT iuser, upw, nm, pic FROM t_user
        WHERE uid = #{uid}
    </select>
</mapper>